<div class="gridster">
  <ul>
    
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="bar_demo_1" data-view="Bar" data-unordered="true" data-title="Multiple Values" data-moreinfo="Compare up to 4 values" style="background-color:#96bf48;"></div>
    </li>
    
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
       <div data-id="bar_demo_2" data-view="Bar" data-title="Single Values" data-moreinfo="See utilization with respect to a maximum" style="background-color:#9c4274;"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
       <div data-id="bar_demo_3" data-view="Bar" data-title="CSS Welcome" data-moreinfo="Dynamically resizes based on font size!" style="background-color:#ff9618; font-size:12px;"></div>
    </li>
    
  </ul>
</div>